body {
    margin: 0;
    font-family: 'Roboto';
}

.container {
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 0 20px;
}

header, 
footer {
    background-color: #1F2937;
    width: 100%;
}

header {
    height: 530px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header-logo, 
.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-part-header {
    display: flex;
}

.main-part-header, img {
    gap: 50px;
    margin-bottom: 100px;
}

.header-left-side {
    display: flex;
    flex-direction: column;
}


.secondary-text,
.text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 500;
    color: #f9faf8;
    margin-top: 15px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    border: none;
} 

.sign-up2 {
    border: 1px solid #e5e7eb;
}

.hero {
    height: 510px;
    box-sizing: border-box;
    padding-top: 50px;
}

.information-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.flex-container {
    display: flex;

}

.picture-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-text img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    overflow: hidden; 
    width: 200px;
    background-color: white;
    margin: 0;
}

.subtext {
    color: #c5c7cb;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.quote {
    height: 430px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quote-container {
    padding: 117px 110px;
}

.attribution {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    text-align: end;
}

.cta {
    height: 240px;
}

.blue-square {
    background-color: #3882f6;
    border-radius: 10px;
    margin: 85px 0px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.heading-call {
    font-size: 24px;
    color: #f9faf8;
}