body {
    margin: 0;
    font-family: 'Roboto';
}

header {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18pxs;
}

.heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
} 