body {
    margin: 0;
    font-family: 'Roboto';
}

.container {
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 0 20px;
}

header, 
footer {
    background-color: #1F2937;
    width: 100%;
}

.header1 {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header-logo, 
.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-part-header {
    display: flex;
}

.main-part-header, img {
    gap: 50px;
}



.header-left-side {
    display: flex;
    flex-direction: column;
}


.secondary-text,
.text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
} 

.sign-up2 {
    border: 1px solid #e5e7eb;
}

.information-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


.picture-text {
    display: flex;
    flex-direction: column;
}

.picture-text img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    overflow: hidden; 
    width: 300px;
    background-color: white;
    display: block;
}

.subtext {
    color: #c5c7cb;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.attribution {
    font-size: 24px;
    font-weight: 400;
}

.blue-square {
    background-color: #3882f6;
}

.heading-call {
    font-size: 24px;
    color: #f9faf8;
}